<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
	<header th:replace="layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-info">Informaci&oacute;n
				del usuario</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Datos Personales</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center">
								<td>Nombre</td>
								<td th:text="${gamer.name}">
							</tr>
							<tr class="text-center">
								<td>Apellido</td>
								<td th:text="${gamer.lastName}">
							</tr>
							<tr class="text-center">
								<td>Alias</td>
								<td th:text="${gamer.username}">
							</tr>
							<tr class="text-center">
								<td>Celular</td>
								<td th:text="${gamer.phone}">
							</tr>
						</tbody>
					</table>

				</div>
				<div></div>
				<div class="table-responsive">

					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Datos del Lan Center</th>
								<th></th>
							</tr>
						</thead>
						<tbody th:if="${#lists.isEmpty(gamer.lancenter)}"
							class="alert alert-info">
							<tr>
								<td
									th:text="'El usuario ' + ${gamer.name} + ' ' + ${gamer.lastName}  +' no cuenta con un Lan Center registrado'">
								</td>
								<td></td>
							</tr>
							
						</tbody>
						<tbody th:if="${not #lists.isEmpty(gamer.lancenter)}">
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Nombre</td>
								<td th:text="${lancenter.name}">
							</tr>
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Direcci&oacute;n</td>
								<td th:text="${lancenter.address}">
							</tr>
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Distrito</td>
								<td th:text="${lancenter.district}">
							</tr>
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Tel&eacute;fono</td>
								<td th:text="${lancenter.phone}">
							</tr>
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Administrador</td>
								<td th:text="${lancenter.gamerId.name}">
							</tr>
						</tbody>
					</table>
					<div class="form-group row" align="center">
						<div class="col-sm-11">
							<p></p>
							<a th:href="@{/lancenters/register/}"
									class="btn btn-primary">Registrar</a>
						</div>
					</div>
				</div>
				
				<div class="table-responsive">

					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Datos de los Eventos</th>
								<th></th>
							</tr>
						</thead>
						<tbody th:if="${#lists.isEmpty(gamer.lancenter)}"
							class="alert alert-info">
							<tr>
								<td
									th:text="'El usuario ' + ${gamer.name} + ' ' + ${gamer.lastName}  +' no cuenta con un Evento registrado'">
								</td>
								<td></td>
							</tr>
						</tbody>
						<tbody th:if="${not #lists.isEmpty(gamer.lancenter)}">
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Nombre</td>
								<td th:text="${lancenter.name}">
							</tr>
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Apellido</td>
								<td th:text="${lancenter.address}">
							</tr>
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Alias</td>
								<td th:text="${lancenter.district}">
							</tr>
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Tel&eacute;fono</td>
								<td th:text="${lancenter.phone}">
							</tr>
							<tr th:each="lancenter :${gamer.lancenter}" class="text-center">
								<td>Administrador</td>
								<td th:text="${lancenter.gamerId.name}">
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout :: footer"></footer>
</body>
</html>